[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==21.2.0"
certifi = "==2023.5.7"
distlib = "==0.3.6"
filelock = "==3.8.0"
iniconfig = "==1.1.1"
packaging = "==21.0"
pipenv = "==2022.9.8"
platformdirs = "==2.5.2"
pluggy = "==1.0.0"
py = "==1.11.0"
pyparsing = "==2.4.7"
toml = "==0.10.2"
urllib3 = "==1.26.7"
virtualenv = "==20.16.5"
virtualenv-clone = "==0.5.7"
selenium = "==4.9.0"
pytest = "*"
webdriver-manager = "*"  # selenium 4.* chrome webdriver handling
pytest-xdist = "*"  # running tests in parallel 'pytest test_*.py -n=4/-n 4'
pytest-rerunfailures = "*"  # re-run tests
loguru = "*"
pytest-failed-screenshot = "==1.0.0"

[dev-packages]

[requires]
